form {

  input[type=text], input[type=password], input[type=email], input[type=number], textarea, select {
    width: 100%;
    height: 36px;
    @include prefixer(background, transparent);
    @include prefixer(box-shadow, inset 0 0 0 rgba(0, 0, 0, .075));
    @include prefixer(border-radius, 0px !important);
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 0 3px;
    padding-left: 12px;
    background: rgba(0, 0, 0, 0.04);
    @include transition(.3s ease);
    border-left: solid 3px $black-blue;
    font-size: 14px;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    &:focus {
      border-left: solid 3px #49C4EE;
      outline: none;
    }

    &::placeholder {
      color: rgba(#000000, 0.43);
      font-size: 14px;
    }
  }

  textarea {
    width: 100% !important;
    padding-top: 10px;
    min-height: 106px !important;
  }

  button, input[type=submit], input[type=button] {
    width: 100%;
    height: 38px;
    @include prefixer(background, transparent);
    @include prefixer(box-shadow, inset 0 0 0 rgba(0, 0, 0, .075));
    @include prefixer(border-radius, 0px);
    border-style: solid;
    border-color: transparent;
    border-width: 0 0 0 3px;
    padding-left: 12px;
    background: rgba(0, 0, 0, 0.04);
    @include transition(.3s ease);
    border-left: solid 0;
    font-size: 14px;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    margin-top: 24px;
    background-image: linear-gradient(270deg, #2AF598 0%, #009EFD 100%);
    box-shadow: 0 2px 22px 0 rgba(25, 210, 192, 0.60);
    border-radius: 6px;
    color: #FFF;
    font-weight: 400;

    &:focus {
      border-left: solid 0;
      outline: none;
    }

    &:hover {
      box-shadow: 0 2px 34px 0 rgba(25, 210, 192, 1);
      cursor: pointer;
    }
  }

  .select-css {
    display: block;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border-radius: .0em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;

    &:focus {
      border-left: solid 3px #49C4EE;
      outline: none;
    }

    &::placeholder {
      color: rgba(#000000, 0.43);
      font-size: 14px;
    }

  }

  .select-css::-ms-expand {
    display: none;
  }

  .select-css option {
    font-weight: normal;
  }

}