body {
  background-color: $white;
  padding-top: 86px;
}

a {
  text-decoration: none;
  color: $text-black-color;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
  color: $text-black-color;
}

.services-container {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1024px;
  height: 446px;
  background-color: transparent;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  padding: 10px 10px 30px 10px;

  .services-title-container {
    padding: 24px 14px 0 14px;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    h2 {
      font-size: 20px;
      color: $green-600;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;
      text-transform: uppercase;
      @include box-sizing(border-box);
      @include transition(.3s ease);
    }
  }

  .services-container-item {
    position: relative;
    float: left;
    @include prefixer(width, calc(25% - 28px));
    height: 310px;
    background-color: $green-100;
    margin: 14px;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @include box-sizing(border-box);
    @include transition(.3s ease);

    &:hover {
      transform: scale(1.12);
      box-shadow: 0 2px 30px 0 rgba(32,77,78,0.36);

      .services-container-item-bg {
        // background-image: linear-gradient(180deg, rgba(0,0,0,0.67) 0%, rgba(50,50,50,0.70) 100%);
        background-image: linear-gradient(215deg, rgba(1,48,48,0.6) 8%, rgba(5,57,57,0.54) 84%);

        a {
          opacity: 1;
        }
      }
    }

    .services-container-item-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      background-image: linear-gradient(215deg, rgba(22,37,37,0.60) 8%, rgba(52,52,52,0.54) 84%);
      @include box-sizing(border-box);
      @include transition(.3s ease);

      h3 {
        padding: 0;
        margin: 0;
        color: $white;
        font-size: 1.4em;
        font-weight: 300;
        line-height: 30px;
        text-decoration: none;
        @include box-sizing(border-box);
        @include transition(.3s ease);
      }

      a {
        opacity: 0;
        position: absolute;
        bottom: 14px;
        left: 8%;
        width: 84%;
        font-size: 14px;
        padding: 10px 0;
        color: $white;
        text-decoration: none;
        text-align: center;
        background: rgba(0,0,0,0.73);
        border: 1px solid rgba(2,7,8,0.4);
        border-radius: 30px;
        box-shadow: 0 10px 15px 0 rgba(22,25,25,0.49);

        @include box-sizing(border-box);
        @include transition(.3s ease);

        &:hover {
          border: 1px solid rgba($white, 0);
          background: rgba($white,1);
          color: $green-600;
        }
      }
    }
  }
}


.analysis-container-full {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: $green-100;
  @include box-sizing(border-box);
  @include transition(.3s ease);
  overflow: hidden;

  .analysis-container {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 1024px;
    height: auto;
    background-color: transparent;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    .analysis-title-container {
      padding: 24px 14px 14px 14px;
      @include box-sizing(border-box);
      @include transition(.3s ease);
      display: block;

      h2 {
        display: block;
        text-align: center;
        font-size: 1.1em;
        color: $green-600;
        padding: 0;
        margin: 0;
        margin-top: 18px;
        margin-bottom: 18px;
        text-transform: uppercase;
        height: 30px;
        @include box-sizing(border-box);
        @include transition(.3s ease);
      }
    }

    .autoplay-slider-analysis {
      width: 100%;
      height: 130px;
      background-color: transparent;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      a {
        position: relative;
        width: 20px;
        height: 124px;
        background-color: transparent;

        div {
          position: absolute;
          top: 0;
          left: 0;
          @include prefixer(width, calc(100% - 24px));
          height: 100%;
          margin: 0 12px;
          background-color: $white;
          border-radius: 20px;

          background-size: 56px auto;
          background-position: center 20px;
          background-repeat: no-repeat;

          @include box-sizing(border-box);
          @include transition(.3s ease);

          &:hover {
            background-color: $green-600;

            p {
              color: $white;
            }
          }

          p {
            width: 100%;
            height: 20px;
            text-align: center;
            position: absolute;
            left: 0;
            bottom: 12px;
            overflow: hidden;
            font-size: 14px;
            color: $green-600;
            @include box-sizing(border-box);
            @include transition(.3s ease);
          }

        }
      }
    }
  }
}

.analysis-question-container {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1024px;
  height: auto;
  margin-top: 30px;
  padding: 16px;
  background-color: transparent;
  margin-bottom: 40px;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  p.analysis-question-container-text-a {
    max-width: 870px;
    padding: 0 auto;
    margin: 0 auto;
    color: $black;
    font-size: 0.85em;
    line-height: 20px;
    padding: 4px;
  }

  p.analysis-question-container-text-b {
    max-width: 630px;
    padding: 0 auto;
    margin: 0 auto;
    padding: 16px;
    margin-top: 30px;
    color: $green-600;
    font-size: 0.85em;
    line-height: 20px;
    background-color: $green-100;
    border-radius: 9px;
    text-align: center;

    margin-bottom: 50px;
  }


  .analysis-question-container-block {
    width: 100%;
    height: auto;
    overflow: hidden;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    .analysis-question-container-block-a {
      width: 30%;
      height: 100%;
      float: left;
      overflow: hidden;
      background-color: transparent;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      p {
        padding: 16px;
        height: 100px;
        font-size: 0.84em;
        color: $white;
        background-color: $green-600;
        border-radius: 20px;
        line-height: 20px;
        font-weight: 300;
        margin: 12px 0;
        overflow: hidden;
        @include box-sizing(border-box);
        @include transition(.3s ease);
      }
    }

    .analysis-question-container-block-b {
      width: 40%;
      height: 100%;
      float: left;
      overflow: hidden;
      background-color: transparent;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      div {
        max-width: 210px;
        padding: 0 auto;
        margin: 0 auto;
        height: auto;
        background-color: $green-100;
        padding: 28px 22px 18px 22px;
        margin-top: 20px;
        @include box-sizing(border-box);
        @include transition(.3s ease);
        border-radius: 21px;

        p {
          width: 100%;
          padding: 15px 0 13px 0;
          text-align: center;
          background-color: $white;
          margin-bottom: 12px;
          border-radius: 10px;
          font-size: 0.86em;
          color: $green-600;
          @include box-sizing(border-box);
          @include transition(.3s ease);

          &:first-child {
            border-radius: 20px;
            height: 90px;
            background-size: 67px auto;
            background-position: center center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .analysis-question-container-block-c {
      width: 30%;
      height: 100%;
      float: left;
      overflow: hidden;
      background-color: transparent;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      p {
        padding: 16px;
        height: 100px;
        font-size: 0.84em;
        color: $white;
        background-color: $green-600;
        border-radius: 20px;
        line-height: 20px;
        font-weight: 300;
        margin: 12px 0;
        overflow: hidden;
        @include box-sizing(border-box);
        @include transition(.3s ease);
      }
    }
  }
}



.contact-us-container-full {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-color: $green-100;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  .contact-us-container {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 1024px;
    height: auto;
    padding: 36px 16px 30px 16px;
    background-color: transparent;
    overflow: hidden;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    div {
      float: left;
      height: auto;
      overflow: hidden;
      @include prefixer(width, calc(100% - 186px));

      p {
        font-size: 0.94em;
        color: $green-600;
        font-weight: 500;
        line-height: 26px;
      }
    }

    a {
      float: right;
      padding: 10px 18px 8px 46px;
      color: $white;
      background-color: $green-600;
      border-radius: 20px;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      font-size: 14px;
      background-size: 20px auto;
      background-position: 14px center;
      background-repeat: no-repeat;
      border: solid 1px rgba(#020708, 0.08);
      margin-top: 8px;
      @include box-sizing(border-box);
      @include transition(.3s ease);
    }
  }
}


.about-us-container {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 1024px;
  height: auto;
  padding: 30px 0 8px 0;
  background-color: transparent;
  overflow: hidden;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  div {
    float: left;
    height: auto;
    overflow: hidden;
    background: transparent;
    @include box-sizing(border-box);
    @include transition(.3s ease);
    @include prefixer(width, calc(100% - 296px));
    padding: 20px;

    &:first-child {
      width: 280px;
      background: transparent;

      a {
        img {
          padding-left: 30px;
          margin-bottom: 16px;
        }
      }

      h4, p {
        color: $green-600;
      }
    }

    h4 {
      font-size: 0.92em;
      color: $text-black-color;
      line-height: 24px;
      text-transform: uppercase;
      padding: 16px 0;
    }

    p {
      font-size: 0.90em;
      color: $text-black-color;
      line-height: 24px;
      padding-bottom: 12px;
    }
  }
}


.mision-vision-container-full {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  .mision-vision-container-full-b {
    padding: 0 auto;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    background-color: rgba($green-600, 0.9);
    @include box-sizing(border-box);
    @include transition(.3s ease);

    .mision-vision-container {
      padding: 0 auto;
      margin: 0 auto;
      max-width: 1024px;
      height: auto;
      padding: 36px 16px 30px 16px;
      background-color: transparent;
      overflow: hidden;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      div {
        float: left;
        background-color: #151515;
        padding: 20px 20px 30px 20px;
        @include prefixer(width, calc(50% - 36px));
        height: 236px;
        margin: 12px 12px 12px 24px;
        background-size: 166px auto;
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: 0 18px 47px 0 rgba(0,0,0,0.40);
        overflow: hidden;
        @include box-sizing(border-box);
        @include transition(.3s ease);

        h2 {
          color: rgba(255,255,255,0.70);
          margin-top: 6px;
          margin-bottom: 18px;
          font-size: 1em;
          text-transform: uppercase;
        }

        p {
          font-size: 0.9em;
          color: rgba(255,255,255,0.70);
          line-height: 26px;
        }

        &:first-child {
          background-color: $white;
          box-shadow: 0 13px 42px 0 rgba(0,0,0,0.17);
          margin: 12px 24px 12px 12px;

          h2 {
            color: rgba(0,0,0,0.70);
          }

          p {
            color: rgba(0,0,0,0.70);
          }
        }
      }
    }
  }
}

/*

font-family: Poppins-Regular;
font-size: 14px;
color: rgba(255,255,255,0.70);
text-align: left;

background: #151515;
box-shadow: 0 18px 47px 0 rgba(0,0,0,0.40);



font-family: Poppins-Regular;
font-size: 14px;
color: rgba(0,0,0,0.70);
text-align: left;

background: #FFFFFF;
box-shadow: 0 13px 42px 0 rgba(0,0,0,0.17);



background: rgba(0,78,78,0.88);
*/