.mobile-menu-container-header {
  display: none;
  width: 56px;
  height: 56px;
  background: $white;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 11;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  .menu-btn {
    position: relative;
    top: 8px;
    left: 8px;
    background-color: $green-100;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba($green-600, .1);
    border: solid 1px rgba($green-600, .35);;
    cursor: pointer;
    height: 40px;
    width: 40px;

    ul {
      list-style: none;
      padding: 0;
    }

    li {
      background-color: $green-600;
      bottom: 0;
      height: 2px;
      left: 10px;
      margin: auto;
      position: absolute;
      width: 20px;
      top: 0;
      transition: all .3s ease-in-out;

      &:first-child {
        transform: translate3d(0, -6px, 0);
      }

      &:last-child {
        transform: translate3d(0, 6px, 0);
      }
    }
  }

  .menu-btn--on li:first-child {
    transform: rotate(135deg) translate3d(0, 0, 0);
  }

  .menu-btn--on li:last-child {
    transform: rotate(-135deg) translate3d(0, 0, 0);
  }

  .menu-btn--on li:nth-child(2) {
    opacity: 0;
  }
}

.menu--open {
  display: inherit !important;
}

.mobile-menu-container {
  display: none;
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  @include prefixer(height, calc(100% - 56px));
  background-color: $green-100;
  z-index: 11;
  overflow-y: auto;
  overflow-x: hidden;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  div {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-bottom: 66px;

    @include box-sizing(border-box);
    @include transition(.3s ease);

    h2 {
      margin: 18px;
      width: 100%;
      font-size: 2em;
      color: $green-600;
      padding-bottom: 8px;
      margin-top: 22px;
      margin-bottom: 14px;
      border-bottom: solid 1px rgba($green-600, 0.2);
    }

    ul.mobile-menu-list {
      padding: 0;
      margin: 0;
      @include box-sizing(border-box);
      @include transition(.3s ease);

      li {
        padding: 0;
        margin: 0;
        list-style: none;
        @include box-sizing(border-box);
        @include transition(.3s ease);

        a {
          @include prefixer(width, calc(100% - 32px));
          margin: 6px 16px;
          margin-right: 36px;
          padding: 18px 14px 16px 60px;
          display: block;
          text-decoration: none;
          text-transform: uppercase;
          color: $text-black-color;
          font-size: 0.9em;
          font-weight: 500;
          border-radius: 12px;
          background-size: 38px auto;
          background-position: 10px center;
          background-repeat: no-repeat;
          background-color: rgba($white, 0.85);
          @include box-sizing(border-box);
          @include transition(.3s ease);

          &:hover {
            background-color: $white;
          }
        }

        a.btn-header-social {
          float: left;
          padding: 22px 16px;
          @include prefixer(width, calc((100% / 3) - 37px));
          margin: 16px 18px;
          background-size: 40px auto;
          background-position: center center;
          background-repeat: no-repeat;
          border-radius: 12px;
          background-color: $green-600;
          @include box-sizing(border-box);
          @include transition(.3s ease);

          &:hover {
            background-color: rgba($green-600, 0.8);
          }
        }
      }
    }

    p {

      padding: 6px 16px;
      @include box-sizing(border-box);
      @include transition(.3s ease);
      text-align: center;
      width: 100%;
      float: left;

      a {
        font-size: 1em;
        width: 100%;
        height: 20px;
        float: left;
        padding: 6px 14px;
        color: $green-600;
        @include box-sizing(border-box);
        @include transition(.3s ease);


      }
    }
  }


}