@media screen and (max-width: 1080px) {
  .m-modal-container {
    .m-modal-container-a {
      width: 70% !important;
      max-width: 70% !important;
    }
  }
}

@media screen and (max-width: 859px) {
  .services-container {

    height: 346px;
    padding: 0 14px;

    .services-container-item {
      height: 210px;

      .services-container-item-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        background-image: linear-gradient(215deg, rgba(22,37,37,0.60) 8%, rgba(52,52,52,0.54) 84%);
        @include box-sizing(border-box);
        @include transition(.3s ease);

        h3 {
          font-size: 1.2em;
        }
      }
    }
  }
}

@media screen and  (max-width: 830px){

  .mision-vision-container-full {
    .mision-vision-container-full-b {
      .mision-vision-container {
        div {
          padding: 20px 20px 20px 20px;
          height: 336px;
          margin: 12px;
          @include prefixer(width, calc(50% - 24px));

          &:first-child {
            margin: 12px;
          }
        }
      }
    }
  }
}

@media screen and  (max-width: 810px) {

  .analysis-question-container-block {
    position: relative !important;
    height: 780px !important;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    .m-line-1 {
      position: absolute !important;
      top: 149px !important;
      left: 17% !important;
      @include prefixer(width, calc(100% - 34%) !important);
      padding: 0 17% !important;
    }

    .m-line-2 {
      position: absolute !important;
      top: 149px !important;
      left: 17% !important;
      width: 2px !important;
      height: 600px !important;
    }

    .m-line-3 {
      position: absolute !important;
      top: 149px !important;
      right: 17% !important;
      width: 2px !important;
      height: 600px !important;
    }

    .analysis-question-container-block-b {
      position: absolute !important;
      width: 100% !important;
      top: 54px !important;
    }

    .analysis-question-container-block-a {
      position: absolute !important;
      @include prefixer(width, calc(50% - 8px) !important);
      top: 420px !important;
      left: 0 !important;
      margin-right: 8px;
    }

    .analysis-question-container-block-c {
      position: absolute !important;
      width: 50% !important;
      top: 420px !important;
      right: 0 !important;
      @include prefixer(width, calc(50% - 8px) !important);
      margin-left: 8px;
    }
  }
}

@media screen and (max-width: 764px) {
  .header-container {
    .header-container-b {
      .header-container-b-items {
        .header-destop-menu {
          li {
            a {
              margin-right: 14px !important;
            }

            a.btn-header-contact {
              height: 32px;
              margin-top: -3px;
              border-radius: 32px;
              padding: 10px 23px !important;
              border: solid 1px rgba($green-600, 0.2);
              background-size: 18px auto !important;
              background-position: center center;
              background-repeat: no-repeat;

              span {
                display: none;
              }
            }

            a.btn-header-social {
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 720px){
  footer {
    .footer-container {
      div {
        width: 50% !important;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .services-container {

    height: 446px;
    padding: 0 8px;

    .services-container-item {
      @include prefixer(width, calc(50% - 16px));
      height: 160px;
      background-color: $green-100;
      margin: 8px;
      border-radius: 20px;


      &:hover {
        transform: scale(1);
        box-shadow: 0 2px 30px 0 rgba(32,77,78,0.36);

        .services-container-item-bg {
          background-image: linear-gradient(215deg, rgba(1,48,48,0.6) 8%, rgba(5,57,57,0.54) 84%);
        }
      }

      .services-container-item-bg {
        box-shadow: 0 2px 30px 0 rgba(32,77,78,0.2);
        border-radius: 20px;

        h3 {
          font-size: 1.2em;
        }

        a {
          opacity: 1;
          border: 1px solid rgba($white, 0);
          background: rgba($white,1);
          color: $green-600;
        }
      }
    }
  }

  .analysis-question-container {
    padding: 0 14px;
  }
}

@media screen and (max-width: 680px) {

  .m-modal-container-bg {
    top: 56px !important;
    @include prefixer(height, calc(100% - 56px) !important);

    .m-modal-container {
      .m-modal-container-a {
        width: 90% !important;
        max-width: 90% !important;

        .m-modal-container-body {
          // padding: 14px !important;
        }
      }
    }
  }

  body {
    padding-top: 54px;
  }

  .mobile-menu-container-header {
    display: block !important;
  }

  .header-container {
    height: 56px !important;

    .header-container-a {
      display: none;
    }
    .header-container-b {
      .header-container-b-items {
        .header-destop-menu {
          display: none;
        }
      }
    }
  }

  // Contact view

  #map {
    width: 100%;
    height: 1320px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }


  .contact-container-full {
    display: block !important;
    position: relative !important;
    z-index: 1;
    margin-bottom: 0px !important;

    .contact-container {
      display: block !important;
      position: inherit !important;

      .contact-container-form {
        width: 100% !important;
        position: relative !important;
        z-index: 2 !important;
        padding-bottom: 60px !important;
      }

      .contact-container-info {
        width: 100% !important;
        position: inherit !important;

        div {
          position: relative !important;
          z-index: -1 !important;
        }
      }
    }
  }
}

@media screen and (max-width: 659px) {

  #map {
    margin-top: 56px !important;
  }

  .contact-us-container-full {
    .contact-us-container {
      text-align: center;
      div {
        float: inherit !important;
        width: 100%;
      }

      a {
        float: inherit !important;
      }
    }
  }


  .about-us-container {
    div {
      width: 100%;
      padding-top: 0;

      &:first-child {
        width: 100%;
        text-align: center;
        padding-top: 16px;
        padding-bottom: 0;
        a {
          img {
            padding-left: 0px;
            margin-bottom: 16px;
          }
        }

        p {
          text-align: left;
        }
      }
    }
  }

  footer {
    .footer-container {
      div {
        text-align: center;
        width: 100% !important;
        border-right: solid 0px $green-100;
        border-bottom: solid 1px rgba($green-600, 0.2);

        &:last-child {
          padding-top: 0;
        }

        ul.footer-contact {
          padding: 0 auto;
          margin: 0 auto;
          margin-top: 24px;
          text-align: center;
          max-width: 320px;

          li {
            text-align: center;
            margin: 0;

            &:first-child a {
            }
            a {
              margin: 4px;
            }
          }
        }

        h2.footer-website-title {
          padding-top: 20px;
          border-top: solid 1px rgba($green-600, 0.2);
        }
      }
    }
  }
}

@media screen and (max-width: 559px) {
  .mision-vision-container-full {
    .mision-vision-container-full-b {
      .mision-vision-container {
        div {
          padding: 20px 20px 20px 20px;
          height: 300px;
          margin: 0px;
          @include prefixer(width, calc(100% - 0px));

          &:first-child {
            margin: 0px;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .autoplay-slider {

    .slider-item {

      .slider-bg-item {

        .slider-info-item {
          padding: 120px 16px 0 16px;

          h2 {
            font-size: 24px;
            font-weight: 400;
            line-height: 30px;
            margin-bottom: 4px;
          }

          h1 {
            font-size: 36px;
            font-weight: 700;
            line-height: 30px;
            margin-bottom: 4px;
            // margin-bottom: 22px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 514px) {

  .analysis-question-container-block {
    position: relative !important;
    height: 910px !important;
    @include box-sizing(border-box);
    @include transition(.3s ease);

    .m-line-1 {
      position: absolute !important;
      top: 149px !important;
      left: 7% !important;
      @include prefixer(width, calc(100% - 14%) !important);
      padding: 0 4% !important;
    }

    .m-line-2 {
      position: absolute !important;
      top: 149px !important;
      left: 7% !important;
      width: 2px !important;
      height: 660px !important;
    }

    .m-line-3 {
      position: absolute !important;
      top: 149px !important;
      right: 7% !important;
      width: 2px !important;
      height: 660px !important;
    }

    .analysis-question-container-block-a {
      p {
        height: 150px !important;
      }
    }

    .analysis-question-container-block-c {
      p {
        height: 150px !important;
      }
    }
  }
}


@media screen and (max-width: 435px) {

  .m-modal-container-bg {

    .m-modal-container {
      .m-modal-container-a {
        width: 96% !important;
        max-width: 96% !important;

        .m-modal-container-body {
          padding: 26px 14px !important;
        }

        .m-modal-container-footer {
          padding-left: 14px !important;
          padding-right: 14px !important;

          a {
            background-image: none !important;
            padding: 10px 18px !important;
          }
        }
      }
    }
  }

  .contact-container-full {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .contact-container {
      .contact-container-info {
        .contact-container-info-div {
          padding: 40px 20px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 374px) {
  .services-container {

    .services-container-item {

      .services-container-item-bg {
        padding: 12px;
        h3 {
          font-size: 0.98em;
        }
      }
    }
  }
}
